language: python
addons:
  apt_packages:
    - pandoc
python:
  - "2.7"
  - "3.6"
# command to install dependencies
install:
  - pwd
  - pip install -U pip
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install "attrs>=17.4.0" --upgrade

# command to run tests
script: pynt package