[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
tabulate = "*"
colorama = "*"

[dev-packages]
pytest = "===6.2.5"
vermin = "*"
hypothesis = {extras = ["cli"], version = "*"}
pre-commit = "*"
mypy = "*"
pytest-cov = "*"
ruff = "*"
linkcheckmd = "*"
tox = "*"
2to3 = "*"
scriv = "*"

[requires]
python_version = "3.11"
