[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"

[dev-packages]
black = {markers="python_version >= '3.6'"}
nose = "*"
twine = "*"
teamcity-messages = "*"
pytest-cov = "*"
pytest-sugar = "*"
radon = "*"
pylint = "*"
pip-check = "*"
pyflakes = "*"
mccabe = "*"
prospector = {extras = ["with-everything"]}
python-taint = "*"
pydocstyle = "*"
py-find-injection = "*"
pycycle = "*"
pandoc = "*"
bandit = "*"
pynt = "*"
pynt-contrib = "*"
sphinx = "*"
vulture = "*"
mypy = {markers="python_version >= '3.4'"}
detect-secrets = "*"
pipenv-to-requirements = "*"
checksumdir = "*"
semantic-version = "*"
jiggle-version = "*"
safety = "*"

[requires]
python_version = "3.6"
